
@font-face {
    font-family: 'Graphik';
    src: url('../font/Graphik-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../font/Graphik-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('../font/Graphik-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../font/Graphik-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('../font/Graphik-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../font/Graphik-SemiboldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}


@font-face {
    font-family: 'Graphik';
    src: url('../font/Graphik-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../font/Graphik-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('../font/Graphik-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../font/Graphik-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('../font/Graphik-Extralight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../font/Graphik-ExtralightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('../font/Graphik-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../font/Graphik-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('../font/Graphik-Super.otf') format('opentype');
    font-weight: 950;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../font/Graphik-SuperItalic.otf') format('opentype');
    font-weight: 950;
    font-style: italic;
}

@font-face {
    font-family: 'Graphik';
    src: url('../font/Graphik-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../font/Graphik-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}